.row {
    height: 70vh
}

#room-info {
    height:550px;overflow:scroll
}

@media (max-width: 576px) { 
    #room-info {
        height:40px;
        overflow:scroll;
    }

    #main-chats {
        width: 100%
    }
 }